%section
  %h1 学歴に「産業技術大学院大学/AIIT」がある方
  - @aiit_friends.each do |year, friends|
    - if year == ''
      %h2 修了年度未記載
    - else
      %h2= "#{year}年度修了"
    .picture
      - friends.each do |id, user|
        %a{:href => "#",
           :title => "#{user.name}",
           :onclick => "window.open('http://www.facebook.com/#{user.id}')"}
          %img{:alt => "#{user.name}",
               :src => "https://graph.facebook.com/#{user.id}/picture?type=square"}
    .clear
