/ -*- coding: utf-8 -*-
- content_for :app_id do
  %meta{:content => @app.id, :property => "fb:app_id"}/

%header
  / Facebook
  #fb-root
  %script{:src => "https://connect.facebook.net/ja_JP/all.js", :type => "text/javascript"}
  :javascript
    FB.init({
      appId  : "#{@app.id}",
      status : true, // check login status
      cookie : true, // enable cookies
      xfbml  : true,  // parse XFBML
      logging : true
    });
    FB.Canvas.setSize({ width: 520, height: 2000 })
  / iframe
  :javascript
    $(document).ready(function(){
      $('iframe').load(function(){
        if (typeof $(this).attr('height') == 'undefined') {
          $(this).height(this.contentWindow.document.documentElement.scrollHeight+10);
        }
      });
      $('iframe').triggerHandler('load');
    });
%article
  %section
    = render 'status'
  %section
    %iframe{:src => "#{education_finder_url}"}
  %section
    %iframe{:src => "#{work_finder_url}"}
  %section
    #share-app
      %ul
        %li
          %a.facebook-button{:href => "#", :onclick => "popup('#{post_to_wall_url}', 'Post to Wall', 580, 400);"}
            %span.plus みんなにつぶやく
        %li
          %a.facebook-button.speech-bubble{:href => "#", :onclick => "popup('#{send_to_friends_url}', 'Send', 580, 400);"}
            %span.speech-bubble だれかに伝える
    .clear
%footer
  2012 Copyright (C) by AIIT
