<h1>Listing herokus</h1>

<%= debug(@user) %>

<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @herokus.each do |heroku| %>
  <tr>
    <td><%= heroku.name %></td>
    <td><%= heroku.year %></td>
    <td><%= link_to 'Show', heroku %></td>
    <td><%= link_to 'Edit', edit_heroku_path(heroku) %></td>
    <td><%= link_to 'Destroy', heroku, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Heroku', new_heroku_path %>
